In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import os
import matplotlib.pyplot as plt
pd.set_option('display.max_column',190)
pd.set_option('display.max_rows',190)

In [2]:
def calc_null_percentage_job(df,threshold):
    """for each col of the data 
            count the number of NA
            if the  number of NA exceed threshold 
                append to a list
            else 
                continue"""
    col_drop=[]
    num_of_rows=len(df)
    threshold_num=(threshold/100) * num_of_rows
    for column in df:
        if df[column].isna().sum() > threshold_num:
            col_drop.append(column)
    return col_drop

def remove_from_csv(cols,df):
    df=df.drop(columns = cols,axis=1)
    return df

In [3]:
test_files = os.listdir('Scale_down')
test_files

['data_Q1_2018_collated.csv',
 'data_Q1_2019_collated.csv',
 'data_Q2_2018_collated.csv',
 'data_Q2_2019_collated.csv',
 'data_Q3_2018_collated.csv',
 'data_Q3_2019_collated.csv',
 'data_Q4_2018_collated.csv',
 'data_Q4_2019_collated.csv']

In [ ]:
training_df = pd.DataFrame()
for file in test_files[:-1]:
    name = f'Scale_down/{file}'
    temp = pd.read_csv(name, index_col=0)
    temp.reset_index(inplace =True)
    col_drop=calc_null_percentage_job(temp,30)
    temp_remove_NA = remove_from_csv(col_drop, temp)
    print(temp_remove_NA.shape)
    training_df = pd.concat([training_df, temp_remove_NA])
    print(f'{file} Done concatenating')

In [5]:
training_df.drop(columns=['index'], inplace = True)
training_df.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_3_normalized,smart_4_normalized,smart_5_normalized,smart_7_normalized,smart_9_normalized,smart_10_normalized,smart_12_normalized,smart_183_normalized,smart_184_normalized,smart_187_normalized,smart_188_normalized,smart_189_normalized,smart_190_normalized,smart_191_normalized,smart_192_normalized,smart_193_normalized,smart_194_normalized,smart_197_normalized,smart_198_normalized,smart_199_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized
0,2018-01-01,Z305B2QN,ST4000DM000,4000787030016,0,120.0,91.0,100.0,100.0,89.0,80.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,77.0,100.0,100.0,83.0,23.0,100.0,100.0,200.0,100.0,100.0,100.0
1,2018-01-01,Z305DEMG,ST4000DM000,4000787030016,0,116.0,97.0,100.0,100.0,88.0,82.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,74.0,100.0,100.0,74.0,26.0,100.0,100.0,200.0,100.0,100.0,100.0
2,2018-01-01,Z3023VGH,ST4000DM000,4000787030016,0,114.0,92.0,100.0,100.0,71.0,68.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,71.0,100.0,100.0,76.0,29.0,100.0,100.0,200.0,100.0,100.0,100.0
3,2018-01-01,Z305DEMX,ST4000DM000,4000787030016,0,114.0,93.0,100.0,100.0,89.0,80.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,72.0,100.0,100.0,83.0,28.0,100.0,100.0,200.0,100.0,100.0,100.0
4,2018-01-01,Z306WYZZ,ST4000DM000,4000787030016,0,115.0,95.0,100.0,100.0,78.0,97.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,78.0,100.0,100.0,100.0,22.0,100.0,100.0,200.0,100.0,100.0,100.0

In [9]:
list(training_df.columns) == list(test_df_remove_NA.columns)

True

Test data need to include info for pre-7 days

In [ ]:
test_df = pd.read_csv(f'Scale_down/{test_files[-1]}', index_col=0)

In [37]:
print(test_df['date'].min())
test_df[test_df['failure']==1].head(6)

2019-10-01

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_2_normalized,smart_3_normalized,smart_4_normalized,smart_5_normalized,smart_7_normalized,smart_8_normalized,smart_9_normalized,smart_10_normalized,smart_11_normalized,smart_12_normalized,smart_13_normalized,smart_15_normalized,smart_16_normalized,smart_17_normalized,smart_18_normalized,smart_22_normalized,smart_23_normalized,smart_24_normalized,smart_168_normalized,smart_170_normalized,smart_173_normalized,smart_174_normalized,smart_177_normalized,smart_179_normalized,smart_181_normalized,smart_182_normalized,smart_183_normalized,smart_184_normalized,smart_187_normalized,smart_188_normalized,smart_189_normalized,smart_190_normalized,smart_191_normalized,smart_192_normalized,smart_193_normalized,smart_194_normalized,smart_195_normalized,smart_196_normalized,smart_197_normalized,smart_198_normalized,smart_199_normalized,smart_200_normalized,smart_201_normalized,smart_218_normalized,smart_220_normalized,smart_222_normalized,smart_223_normalized,smart_224_normalized,smart_225_normalized,smart_226_normalized,smart_231_normalized,smart_232_normalized,smart_233_normalized,smart_235_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized,smart_250_normalized,smart_251_normalized,smart_252_normalized,smart_254_normalized,smart_255_normalized
49768,2019-10-01,Z304KX6Y,ST4000DM000,4000787030016,1,120.0,NaN,97.0,100.0,100.0,88.0,NaN,62.0,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,100.0,100.0,77.0,100.0,100.0,95.0,23.0,NaN,NaN,100.0,100.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
99931,2019-10-01,Z303YVGQ,ST4000DM000,4000787030016,1,117.0,NaN,92.0,100.0,100.0,89.0,NaN,61.0,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,92.0,100.0,100.0,100.0,74.0,100.0,100.0,96.0,26.0,NaN,NaN,100.0,100.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
46568,2019-10-02,Z304K4BB,ST4000DM000,4000787030016,1,116.0,NaN,93.0,100.0,100.0,88.0,NaN,61.0,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,100.0,100.0,79.0,100.0,100.0,96.0,21.0,NaN,NaN,100.0,100.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
103822,2019-10-02,Z304L9AM,ST4000DM000,4000787030016,1,114.0,NaN,95.0,100.0,100.0,87.0,NaN,62.0,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,100.0,96.0,100.0,100.0,82.0,100.0,100.0,96.0,18.0,NaN,NaN,100.0,100.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
31025,2019-10-03,Z302723D,ST4000DM000,4000787030016,1,117.0,NaN,93.0,100.0,100.0,89.0,NaN,59.0,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,100.0,65.0,100.0,100.0,68.0,100.0,100.0,90.0,32.0,NaN,NaN,100.0,100.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
83966,2019-10-03,Z304JZG7,ST4000DM000,4000787030016,1,117.0,NaN,92.0,100.0,100.0,83.0,NaN,62.0,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,100.0,85.0,100.0,100.0,82.0,100.0,100.0,37.0,18.0,NaN,NaN,100.0,100.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN

In [7]:
test_df.reset_index(inplace =True, drop=True)
col_drop=calc_null_percentage_job(test_df,30)
test_df_remove_NA = remove_from_csv(col_drop, test_df)

In [ ]:
print(training_df.shape)
print(test_df_remove_NA.shape)

In [10]:
training_df.to_csv('Training_dataset_7Q_removed_NA.csv')
#test_df_remove_NA.to_csv('Testing_dataset_removed_NA.csv')

Dealing with 7 days

In [62]:
def failure_fn(row):
    if row.failure==1:
        return row.date- np.timedelta64(7,'D')
    else:
        return row.date

In [ ]:
df_test = pd.read_csv('Testing_dataset_removed_NA.csv', index_col = 0)

In [3]:
df_train = pd.read_csv('Training_dataset_7Q_removed_NA.csv', index_col = 0)

In [79]:
df_train.head(3)
df_train.shape

(15560341, 29)

In [143]:
df_train['date'] = pd.to_datetime(df_train['date'])

In [139]:
df_test['date'] = pd.to_datetime(df_test['date'])

In [138]:
from datetime import datetime
datetime.strptime('2019-08-31','%Y-%m-%d')

datetime.datetime(2019, 8, 31, 0, 0)

In [148]:
# Testing our date concept
df_train_additions = df_train[df_train['serial_number'].isin(['Z304KX6Y','Z303YVGQ','Z304K4BB','Z304L9AM','Z302723D','Z304JZG7','Z304HV08','S300YPK7'])]
df_train_additions = df_train_additions[df_train_additions['date'] > '2019-08-31']
df_test_full = pd.concat([df_train_additions, df_test])

# Test Set

In [ ]:
#df_test_full[df_test_full['failure'] == 1].shape
df = df_test_full.groupby('serial_number', as_index = False)['date', 'failure'].max()
df['new_date'] = df.apply(lambda row:failure_fn(row), axis= 1)
#df.head(3)
df_filtered = df_test_full.merge(df,left_on=['date','serial_number'], right_on=['new_date','serial_number'], suffixes=('_x','_actual_fail'),how='inner')
#df_filtered.head(3)
#df_filtered[df_filtered['failure_actual_fail']==0].iloc[:,[0,1,2,3,4,-3,-2,-1]]

In [155]:
df_filtered['failure_actual_fail'].value_counts()

0    19211
1      118
Name: failure_actual_fail, dtype: int64

In [156]:
df_filtered.apply(lambda x: x.isna().sum())

date_x                  0
serial_number           0
model                   0
capacity_bytes          0
failure_x               0
smart_1_normalized      0
smart_3_normalized      0
smart_4_normalized      0
smart_5_normalized      0
smart_7_normalized      0
smart_9_normalized      0
smart_10_normalized     0
smart_12_normalized     0
smart_183_normalized    0
smart_184_normalized    0
smart_187_normalized    0
smart_188_normalized    0
smart_189_normalized    0
smart_190_normalized    0
smart_191_normalized    0
smart_192_normalized    0
smart_193_normalized    0
smart_194_normalized    0
smart_197_normalized    0
smart_198_normalized    0
smart_199_normalized    0
smart_240_normalized    0
smart_241_normalized    0
smart_242_normalized    0
date_actual_fail        0
failure_actual_fail     0
new_date                0
dtype: int64

In [157]:
df_filtered.to_csv('Cleaned_data/Test_dataset.csv')

# Train set

In [159]:
df_test_sub = df_train.copy()#iloc[10000:300000,]
df_test_sub['date'] = pd.to_datetime(df_test_sub['date'])

In [ ]:
df = df_test_sub.groupby('serial_number', as_index = False)['date', 'failure'].max()
df['new_date'] = df.apply(lambda row:failure_fn(row), axis= 1)
df.head(3)

In [161]:
df_test_sub.head(3)

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_3_normalized,smart_4_normalized,smart_5_normalized,smart_7_normalized,smart_9_normalized,smart_10_normalized,smart_12_normalized,smart_183_normalized,smart_184_normalized,smart_187_normalized,smart_188_normalized,smart_189_normalized,smart_190_normalized,smart_191_normalized,smart_192_normalized,smart_193_normalized,smart_194_normalized,smart_197_normalized,smart_198_normalized,smart_199_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized
0,2018-01-01,Z305B2QN,ST4000DM000,4000787030016,0,120.0,91.0,100.0,100.0,89.0,80.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,77.0,100.0,100.0,83.0,23.0,100.0,100.0,200.0,100.0,100.0,100.0
1,2018-01-01,Z305DEMG,ST4000DM000,4000787030016,0,116.0,97.0,100.0,100.0,88.0,82.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,74.0,100.0,100.0,74.0,26.0,100.0,100.0,200.0,100.0,100.0,100.0
2,2018-01-01,Z3023VGH,ST4000DM000,4000787030016,0,114.0,92.0,100.0,100.0,71.0,68.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,71.0,100.0,100.0,76.0,29.0,100.0,100.0,200.0,100.0,100.0,100.0

In [162]:
df_filtered = df_test_sub.merge(df,left_on=['date','serial_number'], right_on=['new_date','serial_number'], suffixes=('_x','_actual_fail'),how='inner')
df_filtered.head(3)

,date_x,serial_number,model,capacity_bytes,failure_x,smart_1_normalized,smart_3_normalized,smart_4_normalized,smart_5_normalized,smart_7_normalized,smart_9_normalized,smart_10_normalized,smart_12_normalized,smart_183_normalized,smart_184_normalized,smart_187_normalized,smart_188_normalized,smart_189_normalized,smart_190_normalized,smart_191_normalized,smart_192_normalized,smart_193_normalized,smart_194_normalized,smart_197_normalized,smart_198_normalized,smart_199_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized,date_actual_fail,failure_actual_fail,new_date
0,2018-01-01,Z3029ATJ,ST4000DM000,4000787030016,0,110.0,94.0,100.0,100.0,85.0,70.0,100.0,100.0,100.0,100.0,94.0,100.0,100.0,73.0,100.0,100.0,96.0,27.0,100.0,100.0,200.0,100.0,100.0,100.0,2018-01-08,1,2018-01-01
1,2018-01-01,Z305BAT9,ST4000DM000,4000787030016,0,120.0,95.0,100.0,100.0,88.0,81.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,75.0,100.0,100.0,99.0,25.0,100.0,100.0,200.0,100.0,100.0,100.0,2018-01-08,1,2018-01-01
2,2018-01-01,W300AS94,ST4000DM000,4000787030016,0,107.0,91.0,100.0,100.0,69.0,55.0,100.0,100.0,100.0,100.0,100.0,100.0,99.0,73.0,100.0,100.0,31.0,27.0,100.0,100.0,200.0,100.0,100.0,100.0,2018-01-08,1,2018-01-01

In [163]:
df_filtered[df_filtered['failure_actual_fail']==1].iloc[:,[0,1,2,3,4,-3,-2,-1]]

,date_x,serial_number,model,capacity_bytes,failure_x,date_actual_fail,failure_actual_fail,new_date
0,2018-01-01,Z3029ATJ,ST4000DM000,4000787030016,0,2018-01-08,1,2018-01-01
1,2018-01-01,Z305BAT9,ST4000DM000,4000787030016,0,2018-01-08,1,2018-01-01
2,2018-01-01,W300AS94,ST4000DM000,4000787030016,0,2018-01-08,1,2018-01-01
3,2018-01-03,Z304JXAS,ST4000DM000,4000787030016,0,2018-01-10,1,2018-01-03
4,2018-01-03,Z305NJMN,ST4000DM000,4000787030016,0,2018-01-10,1,2018-01-03
...,...,...,...,...,...,...,...,...
32150,2018-12-25,S300YTAY,ST4000DM000,4000787030016,0,2019-01-01,1,2018-12-25
32151,2018-12-25,S300ZREZ,ST4000DM000,4000787030016,0,2019-01-01,1,2018-12-25
32152,2018-12-26,Z302T6AB,ST4000DM000,4000787030016,0,2019-01-02,1,2018-12-26
32153,2018-12-26,Z3026Q5Y,ST4000DM000,4000787030016,0,2019-01-02,1,2018-12-26
32154,2018-12-27,W300THEG,ST4000DM000,4000787030016,0,2019-01-03,1,2018-12-27

In [164]:
df_filtered.drop(columns = ['new_date'], inplace=True)
df_filtered.head(3)

,date_x,serial_number,model,capacity_bytes,failure_x,smart_1_normalized,smart_3_normalized,smart_4_normalized,smart_5_normalized,smart_7_normalized,smart_9_normalized,smart_10_normalized,smart_12_normalized,smart_183_normalized,smart_184_normalized,smart_187_normalized,smart_188_normalized,smart_189_normalized,smart_190_normalized,smart_191_normalized,smart_192_normalized,smart_193_normalized,smart_194_normalized,smart_197_normalized,smart_198_normalized,smart_199_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized,date_actual_fail,failure_actual_fail
0,2018-01-01,Z3029ATJ,ST4000DM000,4000787030016,0,110.0,94.0,100.0,100.0,85.0,70.0,100.0,100.0,100.0,100.0,94.0,100.0,100.0,73.0,100.0,100.0,96.0,27.0,100.0,100.0,200.0,100.0,100.0,100.0,2018-01-08,1
1,2018-01-01,Z305BAT9,ST4000DM000,4000787030016,0,120.0,95.0,100.0,100.0,88.0,81.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,75.0,100.0,100.0,99.0,25.0,100.0,100.0,200.0,100.0,100.0,100.0,2018-01-08,1
2,2018-01-01,W300AS94,ST4000DM000,4000787030016,0,107.0,91.0,100.0,100.0,69.0,55.0,100.0,100.0,100.0,100.0,100.0,100.0,99.0,73.0,100.0,100.0,31.0,27.0,100.0,100.0,200.0,100.0,100.0,100.0,2018-01-08,1

In [165]:
df_filtered.shape

(32155, 31)

In [166]:
df_filtered['failure_actual_fail'].value_counts()

0    31319
1      836
Name: failure_actual_fail, dtype: int64

In [167]:
df_filtered.apply(lambda x: x.isna().sum())

date_x                   0
serial_number            0
model                    0
capacity_bytes           0
failure_x                0
smart_1_normalized      42
smart_3_normalized      42
smart_4_normalized      42
smart_5_normalized      42
smart_7_normalized      42
smart_9_normalized      42
smart_10_normalized     42
smart_12_normalized     42
smart_183_normalized    42
smart_184_normalized    42
smart_187_normalized    42
smart_188_normalized    42
smart_189_normalized    42
smart_190_normalized    42
smart_191_normalized    42
smart_192_normalized    42
smart_193_normalized    42
smart_194_normalized    42
smart_197_normalized    42
smart_198_normalized    42
smart_199_normalized    42
smart_240_normalized    42
smart_241_normalized    42
smart_242_normalized    42
date_actual_fail         0
failure_actual_fail      0
dtype: int64

In [173]:
df_filtered = df_filtered[~df_filtered['smart_194_normalized'].isna()]

In [175]:
df_filtered.to_csv('Cleaned_data/Train_dataset.csv')